<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>


      <form sec:authorize="!isAuthenticated()" th:action='@{/login_check}' method="POST">                  
         Username:  
         <input type="text" name='username'  value="" />              
         Password:         
         <input type="password"  name='password' value=""/>          
         <input type="submit" value="Sing in" />  
        <a th:href="@{/addUser}">Sing Up</a> 
</form>  
      
<a sec:authorize="isAuthenticated()">
Hello <span  sec:authentication="name">someone</span>
</a>
<a th:href="@{/topic/add}" sec:authorize-url="/topic/add" >Add Topic</a>


<a sec:authorize="isAuthenticated()" href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>

   <form sec:authorize="isAuthenticated()" name="logoutForm" th:action="@{/logout}" method="post" th:hidden='true'>
      <input type="submit" value="Sign Out" hidden='true'/>
   </form> 

      <h1>Topics</h1>
     
      <br/><br/>
      <div>
        	<div  th:each ="topic : ${topicsList}"  > 
            <a th:href=@{/topic/{topicId}(topicId=${topic.id})} th:utext="${topic.content}">         
         	</a>
         	<br/>
         	</div>
         	<br/>
         	<br/>
      </div>



</body>
</html>